<h1>bandz</h1>
<img src="http://verdimusicacademy.com/wp-content/uploads/2010/06/cartoon.jpg" alt="band">

<%= button_to "Add band", new_band_url, method: :get %>
<%= button_to "Add album", new_album_url, method: :get  %>
<%= button_to "Add track", new_track_url, method: :get  %>
