<table>
  <form action="<%=bands_url%>" method="post">
    <tr>
      <td><label for="band_name">Band or Musician</label></td>
      <td><input type="text" name="band[name]"></td>
    </tr>

    <tr>
      <td><input type="submit" value="Add band!"></td>
    </tr>
  </form>
</table>
