<h1>homepg</h1>
<%= button_to "sign up", new_user_url, method: :get%>
<%= button_to "log in", new_session_url, method: :get%>
<img src="https://www.freevector.com/uploads/vector/preview/15564/FreeVector-Happy-Bird.jpg" width="100%" alt="happy bird">
